.article-categories {
    padding: 100px 0;
    
    @include breakpoint(1024px) {
        padding: 60px 0;
    }
    
    @include breakpoint(767px) {
        padding: 40px 0;
    }
    
    @include breakpoint(480px) {
        padding: 30px 0;
    }
    
    ul {
        li {
            .categories-icon img {
                max-width: 70px;
            }
        }
    }
}
